{% extends 'master.html' %}

{% block page_title %}
Datos de Aprendices
{% endblock %}

{% block content %}
<h1>Datos de Aprendices</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Fecha de nacimiento</th>
        </tr>
    </thead>

    <tbody>
        {% for a in myaprendices %}
        <tr>
            <td>{{ a.documento_identidad }}</td>
            <td>{{ a.nombre }}</td>
            <td>{{ a.apellido }}</td>
            <td>{{ a.email }}</td>
            <td>{{ a.telefono }}</td>
            <td>{{ a.direccion }}</td>
            <td>{{ a.fecha_nacimiento }}</td>
        </tr>
        {% endfor %}
   
    </tbody>
</table>
     <a href="/" class="btn-volver">Volver a Main</a>
{% endblock %}
