{% extends 'master.html' %}

{% block page_title %}
Datos de Aprendices
{% endblock %}

{% block content %}
<h1>Datos de Aprendices</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>

        </tr>
    </thead>

    <tbody>
        {% for a in myaprendices %}
        <tr>
            <td>{{ a.documento_identidad }}</td>
            <td>{{ a.nombre }}</td>
            <td>{{ a.apellido }}</td>

            <td>
                <a href="{% url 'aprendices:detalle_aprendices' a.id %}" class="btn btn-primary btn-sm">Ver detalle
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'aprendices:crear_aprendiz' %}" class="btn btn-secondary mt-3">Agregar Aprendiz</a>


     <a href="/" class="btn btn-secondary mt-3">Volver a inicio</a>
{% endblock %}
