{% extends 'master.html' %}
{% load static %}

{% block page_title %}Datos de programas{% endblock %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'lista_programas.css' %}">

<div class="layout">
    <div class="contenedor-principal">

        <h2 class="mb-3">Listado de Programas</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover align-middle">
                <thead class="table-success">
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Nivel</th>
                        <th>Modalidad</th>
                        <th>Meses</th>
                        <th>Horas</th>
                        <th>Acción</th>
                    </tr>
                </thead>

                <tbody>
                    {% for prog in lista_programas %}
                    <tr>
                        <td>{{ prog.id }}</td>
                        <td>{{ prog.codigo }}</td>
                        <td>{{ prog.nombre }}</td>
                        <td>{{ prog.nivel_formacion }}</td>
                        <td>{{ prog.modalidad }}</td>
                        <td>{{ prog.duracion_meses }}</td>
                        <td>{{ prog.duracion_horas }}</td>

                        <td>
                           <a href="{% url 'programa_detalle' prog.id %}" class="btn-verde">Ver más</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
