{% extends "master.html" %}

{% block page_title %}
Detalle del Aprendiz
{% endblock %}

{% block content %}

<h2>Detalle del Aprendiz</h2>

<div class="card p-4 shadow">
    <p><strong>Documento:</strong> {{ aprendiz.documento_identidad }}</p>
    <p><strong>Nombre:</strong> {{ aprendiz.nombre }}</p>
    <p><strong>Apellido:</strong> {{ aprendiz.apellido }}</p>
    <p><strong>Email:</strong> {{ aprendiz.email }}</p>
    <p><strong>Teléfono:</strong> {{ aprendiz.telefono }}</p>
    <p><strong>Dirección:</strong> {{ aprendiz.direccion }}</p>
    <p><strong>Fecha nacimiento:</strong> {{ aprendiz.fecha_nacimiento }}</p>
</div>
<a href="/datos_aprendices" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}
